@if (isLoading()) {
  <ion-progress-bar type="indeterminate" />
}

<ion-content class="flex-tile-list">
  <ion-list>
    @for (artist of artists(); track artist.artistId) {
      <ion-card
        class="tile"
        [style.backgroundImage]="
          'url(\'' +
          (artist.thumbnail | assets) +
          '\'), url(assets/site/no_cover.webp)'
        "
        [style.backgroundSize]="artist.thumbnail ? 'auto 100%' : 'cover'"
        [style.backgroundPosition]="artist.thumbnail ? 'center' : 'top'"
      >
        <ion-card-header (click)="onArtistClick(artist)">
          <ion-card-title>{{ artist.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($any($event))">
    <ion-infinite-scroll-content loadingSpinner="bubbles" />
  </ion-infinite-scroll>
</ion-content>

<app-lateral-slide
  [id]="'artistDetail'"
  [title]="selectedArtist()?.name ?? ''"
  [openSlideBar]="isPanelOpen()"
  [customWidth]="'60%'"
  (closeSlideBar)="onClosePanel()"
>
  <app-artist-detail [artist]="selectedArtist()" [albums]="albums()" />
</app-lateral-slide>
