.flex-tile-list {
  width: 100%;

  > ion-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }

    @media (min-width: 1281px) {
      grid-template-columns: repeat(6, 1fr);
      gap: 14px;
    }
  }

  .tile {
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    aspect-ratio: 1;
    margin: 0;
    position: relative;
    overflow: hidden;

    ion-card-header {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      color: white;
      font-size: 1em;
      height: min-content;
      left: 0;
      position: absolute;
      width: 100%;
      cursor: pointer;

      ion-card-title {
        font-size: 0.9em;
        font-weight: 900;
      }
    }
  }
}
