<ion-content>
  <div class="genre-frame">
    <h2>Albums</h2>
    <div class="albums">
      <app-album-square
        *ngFor="let album of albums"
        [album]="album"
      ></app-album-square>
    </div>
    <h2>Artists</h2>
    <div class="artists">
      <app-square-item
        *ngFor="let artist of artists"
        [item]="artist"
        [headerActive]="true"
        [ShowFavButtons]="false"
        [hoverActive]="false"
        [thumbnail]="artist.thumbnail"
        [title]="artist.label"
        [subtitle]="artist.yearsactive | arrayToString"
      ></app-square-item>
    </div>
  </div>
</ion-content>
