.tile {
    width: 140px;
    height: 140px;
    margin: 4px;

    ion-card-header {
        //   opacity: 0;
        background-color: rgba(0, 0, 0, .6);
        bottom: 0;
        color: white;
        font-size: 1em;
        height: min-content;
        left: 0;
        position: absolute;
        width: 100%;

        ion-card-title {
            font-size: .9em;
            font-weight: 900;
        }

        &btn-active {
            cursor: pointer;
        }
    }

    ion-card-content {
        background-color: rgba(0, 0, 0, .65);
        height: 100%;
        opacity: 0;

        h4 {
            color: aliceblue;
            font-size: .8em;
            font-weight: 900;
        }

        h5,
        h6 {
            line-height: 1em;
            color: #d6d6d6;
            font-size: .7em;
            font-weight: 900;
        }

        h5 {
            font-size: .7em;
            font-weight: 400;
        }
    }

    .fav-buttons {
        bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: absolute;
        width: 85%;
    }
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {

    /* CSS */
    .tile {
        width: 265px;
        height: 265px;
        margin: 7px;
    }

}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */
    .tile {
        width: 240px;
        height: 240px;
        margin: 7px;
    }

}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */

}