<div class="current-track">
  @if (currentTrack(); as track) {
    <img
      class="current-track__thumbnail"
      [alt]="track.title"
      [src]="track.thumbnail | assets"
    />
    <div class="current-track__info">
      <span class="current-track__title">{{ track.title }}</span>
      @if (track.type === 'song') {
        <span class="current-track__artist">{{ track.artist | arrayToString }}</span>
        <span class="current-track__album">{{ track.album }}</span>
      } @else {
        <span class="current-track__artist">{{ track.genre | arrayToString }}</span>
        @if (track.year) {
          <span class="current-track__album">{{ track.year }}</span>
        }
      }
    </div>
  }
</div>
