<ion-header>
  <ion-toolbar>
    <ion-title>{{ artist()?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onPlayArtist()" title="Play Artist">
        <ion-icon slot="icon-only" name="play" />
      </ion-button>
      <ion-button (click)="onAddArtistToPlaylist()" title="Add to Playlist">
        <ion-icon slot="icon-only" name="add" />
      </ion-button>
      <ion-button (click)="onClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (artist(); as artist) {
    <div class="artist-frame">
      <div class="artist-info">
        <div class="artist-col col-30 image-col">
          <ion-img
            class="img-canvas"
            [src]="artist.thumbnail | assets : 'scape'"
            [alt]="artist.name"
          />
          <div class="artist-meta">
            @if (artist.yearsActive.length) {
              <span>{{ artist.yearsActive | arrayToString }}</span>
            }
            @if (artist.styles.length) {
              <span>{{ artist.styles | arrayToString }}</span>
            }
            @if (artist.genres.length) {
              <span>{{ artist.genres | arrayToString }}</span>
            }
          </div>
        </div>
        <div class="artist-col col-70">
          <div class="artist-bio">
            <div class="scroll-info">
              @if (artist.description) {
                <p>{{ artist.description }}</p>
              } @else {
                <p class="no-description">No biography available</p>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="albums-section">
        <ion-list>
          @for (album of albums(); track album.albumId) {
            <ion-item class="album-item">
              <div class="album-cover">
                <ion-img
                  class="img-canvas"
                  [src]="album.albumThumbnail | assets : 'scape'"
                  [alt]="album.albumLabel"
                />
                <p class="album-title">{{ album.albumLabel }}</p>
                <ion-buttons>
                  <ion-button (click)="onPlayAlbum(album.albumId)" title="Play Album">
                    <ion-icon slot="icon-only" size="small" name="play" />
                  </ion-button>
                  <ion-button (click)="onAddAlbumToPlaylist(album.albumId)" title="Add Album to Playlist">
                    <ion-icon slot="icon-only" size="small" name="add" />
                  </ion-button>
                </ion-buttons>
              </div>
              <div class="tracks-holder">
                <ion-list class="track-list">
                  @for (track of album.tracks; track track.songId) {
                    <ion-item class="track-item">
                      <ion-label>
                        <span class="track-number">{{ track.trackNumber }}.</span>
                        {{ track.title }}
                      </ion-label>
                      <ion-note>{{ track.duration | secondsToStr }}</ion-note>
                      <ion-button fill="clear" size="small" (click)="onAddTrackToPlaylist(track)" title="Add to Playlist">
                        <ion-icon slot="icon-only" name="add" />
                      </ion-button>
                      <ion-button fill="clear" size="small" (click)="onPlayTrack(track)" title="Play Track">
                        <ion-icon slot="icon-only" name="play" />
                      </ion-button>
                    </ion-item>
                  }
                </ion-list>
              </div>
            </ion-item>
          }
        </ion-list>
      </div>
    </div>
  }
</ion-content>
