<ion-content>
  @if (artist(); as artist) {
    <div class="artist-frame">
      <div class="artist-info">
        <div class="artist-col col-30 image-col">
          <ion-img
            class="img-canvas"
            [src]="artist.thumbnail | assets"
            [alt]="artist.name"
          />
          <div class="artist-meta">
            @if (artist.yearsActive.length) {
              <span>{{ artist.yearsActive | arrayToString }}</span>
            }
            @if (artist.styles.length) {
              <!--<span>{{ artist.styles | arrayToString }}</span>-->
            }
            @if (artist.genres.length) {
              <span>{{ artist.genres | arrayToString }}</span>
            }
          </div>
        </div>
        <div class="artist-col col-70">
          <div class="artist-bio">
            <div class="scroll-info">
              @if (artist.description) {
                <p>{{ artist.description }}</p>
              } @else {
                <p class="no-description">No biography available</p>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="artist-actions-placeholder">
        <div class="artist-actions">
          <ion-button
            fill="outline"
            (click)="onPlayArtist()"
            title="Play Artist"
          >
            <ion-icon slot="start" name="play" />
            Play Artist
          </ion-button>
          <ion-button
            fill="outline"
            (click)="onAddArtistToPlaylist()"
            title="Add to Playlist"
          >
            <ion-icon slot="start" name="add" />
            Add to Playlist
          </ion-button>
        </div>
      </div>

      <div class="albums-section">
        <ion-list>
          @for (album of albums(); track album.albumId) {
            <div class="album-item">
              <div class="album-cover">
                <ion-img
                  class="img-canvas"
                  [src]="album.albumThumbnail | assets"
                  [alt]="album.albumLabel"
                />
                <p class="album-title">{{ album.albumLabel }}</p>
                <ion-buttons>
                  <ion-button
                    (click)="onPlayAlbum(album.albumId)"
                    title="Play Album"
                  >
                    <ion-icon
                      slot="icon-only"
                      color="dark"
                      size="large"
                      name="play"
                    />
                  </ion-button>
                  <ion-button
                    (click)="onAddAlbumToPlaylist(album.albumId)"
                    title="Add Album to Playlist"
                  >
                    <ion-icon
                      slot="icon-only"
                      color="dark"
                      size="large"
                      name="add"
                    />
                  </ion-button>
                </ion-buttons>
              </div>
              <div class="tracks-holder">
                <ion-list class="track-list">
                  @for (track of album.tracks; track track.songId) {
                    <ion-item class="track-item">
                      <ion-label>
                        <span class="track-number"
                          >{{ track.trackNumber }}.</span
                        >
                        {{ track.title }}
                      </ion-label>
                      <ion-note>{{ track.duration | secondsToStr }}</ion-note>
                      <ion-button
                        fill="clear"
                        (click)="onPlayTrack(track); $event.stopPropagation()"
                        title="Play Track"
                      >
                        <ion-icon slot="icon-only" color="dark" name="play" />
                      </ion-button>
                      <ion-button
                        fill="clear"
                        (click)="
                          onAddTrackToPlaylist(track); $event.stopPropagation()
                        "
                        title="Add to Playlist"
                      >
                        <ion-icon slot="icon-only" color="dark" name="add" />
                      </ion-button>
                    </ion-item>
                  }
                </ion-list>
              </div>
            </div>
          }
        </ion-list>
      </div>
    </div>
  }
</ion-content>
