// ==========================================================================
// COMPONENT - VideoGenre List (BEM)
// ==========================================================================

.genre-list {
  --background: transparent;

  // Element: Grid
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px;
    background: transparent;
  }
}
