.sidebar {
    background: var(--kodi-lateral-panel-bg);
    position: fixed;
    height: 100vh;
    min-width: 320px;
    max-width: 75%;
    top: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: var(--kodi-shadow-sidebar);
    right: -100%;
    transition: right 0.55s ease;
    z-index: 40000;

    &__header {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 72px;
        box-shadow: var(--kodi-shadow-header);
        padding: 10px 20px;

        h3 {
            font-size: 18px;
        }

        .close {
            background: none;
            outline: none;
            border: none;
            margin-left: auto;
            font-size: 18px;
            font-weight: normal;
            line-height: 0.8;
            opacity: 0.5;

            &:hover {
                opacity: 1;

                fa-icon {
                    color: var(--kodi-text-primary);
                }
            }
        }
    }

    &__body {
        background: inherit;
        overflow-y: hidden;
        height: 100%;

        ion-title {
            text-align: left;
            font-size: 1.1rem;
        }
    }

    &__spacer {
        padding: 0;
        margin: 0;
        -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        background: transparent;
    }

    &__footer {
        border-top: 1px solid var(--kodi-border-light);
    }

    &__grabber {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-right: -15px;
        cursor: col-resize;
        height: 100%;
        width: 15px;
        overflow: hidden;
        background-color: transparent;
        opacity: 1;

        &:hover,
        &:active {
            background-color: var(--kodi-lateral-panel-grabber-hover);
        }

    }
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--kodi-overlay-sidebar);
    z-index: 1000;
    display: none;
}

@media screen and (max-width: 39.9375em) {
    .sidebar {
        max-width: 100%;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .sidebar {
        max-width: 100%;
    }
}