<div class="sidebar" [style.width.px]="width">
  <div class="sidebar__body">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ng-content></ng-content>
  </div>
  <div class="sidebar__grabber"></div>
</div>
<div class="sidebar__overlay"></div>
