<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="albums">
    <ion-label>Albums</ion-label>
  </ion-segment-button>
  <ion-segment-button value="artists">
    <ion-label>Artists</ion-label>
  </ion-segment-button>
  <ion-segment-button value="genres">
    <ion-label>Genres</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">
  <div class="selector-category" value="albums"></div>
  <div>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>
