<div class="player-control">
  <div class="play-btn">
    <ion-button shape="round" (click)="play()">
      <ion-icon
        slot="icon-only"
        [name]="isPlayerPlaying() ? 'pause-outline' : 'play-outline'"
      ></ion-icon>
    </ion-button>
  </div>
  <div class="time-div">
    <div>
      <span
        >{{ appInfo?.time?.minutes | zeroPadding }}:{{
          appInfo?.time?.seconds | zeroPadding
        }}</span
      >
    </div>
  </div>
  <div class="player-bar">
    <ion-range
      [value]="appInfo?.percentage"
      (ionChange)="seekChange($event)"
    ></ion-range>
  </div>
  <div class="time-div">
    <div>
      <span
        >{{ appInfo?.totaltime?.minutes | zeroPadding }}:{{
          appInfo?.totaltime?.seconds | zeroPadding
        }}
      </span>
    </div>
  </div>
  <div>
    <ion-button
      shape="round"
      (click)="shuffle()"
      [color]="appInfo?.shuffled ? 'success' : 'dark'"
      [disabled]="!appInfo?.canshuffle"
    >
      <ion-icon slot="icon-only" [name]="'shuffle-outline'"></ion-icon>
    </ion-button>
  </div>
  <div>
    <ion-button
      (click)="repeat()"
      shape="round"
      [color]="
        appInfo?.repeat === 'off'
          ? 'dark'
          : appInfo?.repeat === 'all'
          ? 'success'
          : 'secondary'
      "
      [disabled]="!appInfo?.canrepeat"
    >
      <ion-icon slot="icon-only" [name]="'repeat-outline'"></ion-icon>
    </ion-button>
  </div>
  <div>
    <ion-button shape="round" [color]="appInfo?.partymode ? 'success' : 'dark'">
      <ion-icon slot="icon-only" [name]="'beer-outline'"></ion-icon>
    </ion-button>
  </div>
</div>
