<ion-content class="flex-tile-list">
  <ion-list>
    <ion-card
      *ngFor="let artist of artists"
      class="tile"
      style="background-image: url({{
        artist.thumbnail | assets : 'scape'
      }}) , url(assets/site/no_cover.webp)"
      [style.backgroundSize]="artist.thumbnail ? '100%' : 'cover'"
      appTileHover
    >
      <ion-card-header>
        <ion-card-title (click)="getArtist(artist)">{{
          artist.label
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content (click)="getArtist(artist)">
        {{ artist.genre | arrayToString }}
        <div class="fav-buttons">
          <div class="fav-btn">
            <ion-button
              slot="end"
              shape="round"
              size="small"
              color="dark"
              (click)="getArtist(artist)"
            >
              <ion-icon slot="icon-only" name="play-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <app-artist-detail
    [isModalOpen]="isModalOpen"
    [artist]="selectedArtist"
    (closeDetail)="deleteSelected()"
  ></app-artist-detail>
</ion-content>
