.flex-tile-list {
    flex-wrap: wrap;
    height: calc(100% - 65px);
    width: 100%;

    &>ion-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
    }

    .tile {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-attachment: center center;
        width: 200px;
        height: 200px;
        margin: 4px;

        ion-card-header {
            background-color: rgba(0, 0, 0, .6);
            color: white;
            font-size: .9em;
            opacity: 0;
            height: 50%;

            ion-card-title {
                font-size: .9em;
                font-weight: 900;
            }
        }

        ion-card-content {
            background-color: rgba(0, 0, 0, .6);
            color: #acacac;
            height: 50%;
            opacity: 0;
            font-size: .8em;
            font-weight: 900;
        }
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */
    .flex-tile-list {
        .tile {
            width: 270px;
            height: 270px;
            margin: 7px;
        }
    }
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */
    .tile {
        width: 240px;
        height: 240px;
        margin: 7px;
    }

}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */

}