<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
<ion-content class="flex-tile-list">
  <ion-list>
    <ion-card
      *ngFor="let artist of artists"
      class="tile"
      style="background-image: url({{
        artist.thumbnail | assets : 'scape'
      }}) , url('assets/site/no_cover.webp')"
      [style.backgroundSize]="artist.thumbnail ? 'auto 100%' : 'cover'"
      [style.backgroundPosition]="artist.thumbnail ? 'center' : 'top'"
      appTileHover
    >
      <ion-card-header (click)="getArtist(artist)">
        <ion-card-title>{{ artist.label }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-lateral-slide
  [id]="'artistDetail'"
  [openSlideBar]="isSlideBarOpen"
  [customWidth]="'60%'"
>
  <app-artist-detail
    [artist]="selectedArtist"
    (closeDetail)="deleteSelected()"
    [albums]="albums"
  ></app-artist-detail>
</app-lateral-slide>
