<div class="genre-list">
  <ion-accordion-group>
    <ion-accordion
      *ngFor="let letterGroup of groupedList"
      [value]="letterGroup.letter"
    >
      <ion-item slot="header" color="light">
        <ion-label
          >{{ letterGroup.letter }} ({{ letterGroup.genres.length }})</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-chip
          *ngFor="let genre of letterGroup.genres"
          (click)="selectGenre(genre)"
          >{{ genre.label }}</ion-chip
        >
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
<app-lateral-slide
  [id]="'genreDetail'"
  [openSlideBar]="isSlideBarOpen"
  [customWidth]="'60%'"
  [title]="selectedGenre?.label"
  (closeSlideBar)="deleteSelected()"
>
  <app-genre-detail
    [genre]="selectedGenre"
    [albums]="albums"
    [artists]="artists"
  ></app-genre-detail>
</app-lateral-slide>
