<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
<ion-content class="flex-tile-list">
  <ion-list>
    <app-album-square
      *ngFor="let album of albums"
      [album]="album"
      (sendAlbum)="getAlbum(album)"
      (sendToPlaylist)="sendToPlaylist($event)"
    ></app-album-square>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!--<ion-content *ngIf="selectedAlbum" [style.height]="'985px'">-->

<!--</ion-content>-->
<app-lateral-slide
  [id]="'playlist'"
  [openSlideBar]="isModalOpen"
  [customWidth]="'60%'"
  [title]="selectedAlbum?.label"
  (closeSlideBar)="deleteSelected()"
>
  <app-album-detail
    [album]="selectedAlbum"
    [tracks]="tracks"
    (sendToPlaylist)="sendToPlaylist($event)"
  ></app-album-detail>
</app-lateral-slide>
