<ion-header>
  <ion-toolbar>
    <ion-title>Albums:{{totalAlbums}}</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-content   class="flex-tile-list">
    <ion-list>
        <ion-card *ngFor="let album of albums"
          class="tile"
          style="background-image: url({{album.thumbnail | assets : 'scape'}}) , url(assets/site/no_cover.webp)"
          [style.backgroundSize]="album.thumbnail ? '100%' : 'cover'"
          appTileHover>
          <ion-card-header>
            <ion-card-title>{{ album.label }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ album.artist | arrayToString }}
          </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>
