<ion-menu [type]="'overlay'" content-id="main-content">
  <ion-content class="ion-padding">
    <app-current-play-list
      #playlistObject
      [playlist]="playlist"
      [currentTrackPosition]="playerState?.position ?? null"
      (playlistChanged)="onPlaylistChanged()"
    ></app-current-play-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-button size="small">
          <ion-icon
            slot="icon-only"
            ios="menu-outline"
            md="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button size="small">
          <ion-icon
            slot="icon-only"
            ios="list-outline"
            md="list-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-button size="small">
        <ion-icon
          slot="icon-only"
          ios="musical-notes"
          md="musical-notes"
        ></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="icon-only" ios="tv" md="tv"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon
          slot="icon-only"
          ios="logo-apple"
          md="settings-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="canvas-player">
    <div class="flex-div">
      <div class="selector-category" value="albums">
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="albums">
            <ion-label>Albums</ion-label>
          </ion-segment-button>
          <ion-segment-button value="artists">
            <ion-label>Artists</ion-label>
          </ion-segment-button>
          <ion-segment-button value="genres">
            <ion-label>Genres</ion-label>
          </ion-segment-button>
        </ion-segment>
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="control-nav">
      <player-current-track [currentTrack]="playerInfo"></player-current-track>
      <app-player-control class="player-control"></app-player-control>
      <app-sound
        class="volume-control"
        [volume]="volume"
        [isMute]="isMute"
        (volumeChange)="updateVolume($event)"
      ></app-sound>
    </div>
  </div>
  <div></div>
</ion-content>
