.control-nav {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: min-content;

  .volume-control {
    width: 10%;
  }

  .player-control {
    align-content: center;
    width: 60%;
  }

  player-current-track {
    width: 30%;
  }
}

.canvas-player {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 100%;

  .flex-div {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: calc(100% - 96px);
    width: 100%;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .small-col {
    width: 25%;
  }
}

.flex-div {
  display: flex;
  justify-content: start;
  flex-direction: row;
  height: 85%;
}

.selector-category {
  height: 100%;
  width: 100%;

  &>ion-card {
    height: 85%;

    ion-card-content {
      height: 90%;
    }
  }
}

app-current-play-list {
  height: 74%;
  width: 100%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


  app-current-play-list {
    height: 87%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */

}