.app-logo {
    height: 32px;
    width: auto;
    margin-inline-start: 12px;
    margin-inline-end: 8px;
}

ion-searchbar {
    max-width: 480px;
    margin: 0 auto;
}

.control-nav {
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
    z-index: 100;
    padding: 0 8px;

    .volume-control {
        width: 10%;
        flex-shrink: 0;
    }

    .player-control {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    player-current-track {
        width: 25%;
        flex-shrink: 0;
    }
}

.canvas-player {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;

    .flex-div {
        display: flex;
        justify-content: start;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .small-col {
        width: 25%;
    }
}

.flex-div {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 85%;
}

app-current-play-list {
    height: 74%;
    width: 100%;
}

app-album {
    height: 75%;
}

@media (min-width: 1281px) {
    app-current-play-list {
        height: 87%;
    }
}
