<ion-menu [type]="'overlay'" content-id="main-content">
  <ion-content class="ion-padding">
    <app-current-play-list
      #playlistObject
      [playlist]="playBackFacade.playlist().items"
      [currentTrackPosition]="playBackFacade.playerState()?.position ?? null"
      (playlistChanged)="onPlaylistChanged()"
    ></app-current-play-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="app-logo" src="assets/site/logo.png" alt="Kodi Reactive" />
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" color="dark" (click)="navigateTo('music')">
        <ion-icon
          slot="icon-only"
          ios="musical-notes"
          md="musical-notes"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="navigateTo('video')">
        <ion-icon slot="icon-only" ios="tv" md="tv"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon
          slot="icon-only"
          ios="list-outline"
          md="list-outline"
        ></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon
          slot="icon-only"
          ios="settings-sharp"
          md="settings-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div class="canvas-player">
    <div class="flex-div">
      <ion-router-outlet></ion-router-outlet>
    </div>

    <div class="control-nav">
      <ion-menu-toggle>
        <ion-button size="small" shape="round">
          <ion-icon
            slot="icon-only"
            ios="reorder-three-outline"
            md="reorder-three-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <player-current-track
        [currentTrack]="playBackFacade.playerInfo()"
      ></player-current-track>
      <app-player-control class="player-control"></app-player-control>
      <app-sound
        class="volume-control"
        [volume]="playBackFacade.volume()"
        [isMute]="playBackFacade.isMute()"
        (volumeChange)="updateVolume($event)"
      ></app-sound>
    </div>
  </div>
</ion-content>
