<div class="sound-container">
  <ion-button shape="round" (click)="togglePopup()">
    <ion-icon [name]="volumeIcon()" slot="icon-only"></ion-icon>
  </ion-button>

  @if (isOpen()) {
    <div class="volume-popup">
      <div class="volume-popup-content">
        <ion-button
          fill="clear"
          size="small"
          (click)="muteVolume()"
          class="mute-btn"
        >
          <ion-icon
            name="volume-mute-outline"
            [color]="isMute() ? 'danger' : 'medium'"
            slot="icon-only"
          ></ion-icon>
        </ion-button>

        <div class="volume-slider">
          <ion-range
            [value]="volume()"
            (ionChange)="setVolume($event)"
            [min]="0"
            [max]="100"
          ></ion-range>
        </div>

        <span class="volume-value">{{ volume() }}</span>
      </div>
    </div>

    <div class="volume-backdrop" (click)="togglePopup()"></div>
  }
</div>
