<div class="sound-container">
  <ion-button #triggerBtn fill="clear" (click)="togglePopup()" color="dark">
    <ion-icon [name]="volumeIcon()" slot="icon-only" />
  </ion-button>

  @if (isOpen()) {
    <div
      class="volume-popup"
      [style.bottom.px]="popupPosition().bottom"
      [style.right.px]="popupPosition().right"
    >
      <div class="volume-popup-content">
        <ion-button
          fill="clear"
          size="small"
          (click)="muteVolume()"
          class="mute-btn"
        >
          <ion-icon
            name="volume-mute-outline"
            [color]="isMute() ? 'danger' : 'medium'"
            slot="icon-only"
          />
        </ion-button>

        <div class="volume-slider">
          <ion-range
            [value]="volume()"
            (ionChange)="setVolume($event)"
            [min]="0"
            [max]="100"
          />
        </div>

        <span class="volume-value">{{ volume() }}</span>
      </div>
    </div>

    <div class="volume-backdrop" (click)="togglePopup()"></div>
  }
</div>
