// ==========================================================================
// COMPONENTS – Global component styles (non-scoped)
// ==========================================================================

.artist-detail-modal {
  --width: 800px;

  .modal-wrapper {
    --height: 90%;
    --width: 80%;
  }
}

.sidebar__open {
  .sidebar {
    right: 0 !important;
  }

  .sidebar__overlay {
    display: block !important;
  }
}
