.component-holder {
    height: 100%;

    &>ion-card {
        height: inherit;

        ion-card-content {
            height: 90%;
        }
    }
}

.current-list {
    width: 100%;
    height: 100%;

    ion-item {
        font-size: .8em;



        ion-avatar {
            width: 30px;
            height: 30px;
        }
    }

    .input-wrapper {
        align-self: center !important;
        text-overflow: unset !important;
        overflow: inherit;
    }
}