.current {
    width: 100%;

    &>ion-card {
        .artist-card {
            height: 100%;
        }
    }
}

.current-track {
    width: 100%;
    display: flex;
    flex-direction: row;

    &>img {
        height: 50px;
        width: 50px;
    }

    .track-info {
        padding-left: 3%;
        width: inherit;

        ion-card-title {
            font-size: .9em;
            font-weight: 900;
        }

        ion-card-subtitle {
            color: #e0e0e0;
            line-height: 1.2em;
            font-size: .7em;
            font-weight: 900;
        }
    }
}